$font-montserrat: "Montserrat", sans-serif;
$font-sansPro: "Source Sans Pro", sans-serif;
$color-white: #fff;
$color-white-transparent: rgba(255, 255, 255, 0.829);
$color-dark: #364850;
$color-brown: #ae1457;
$color-blush: lavenderblush;
$color-blue: #4eb6ac;
